@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media (max-width: 450px) {
  .hidden-450 {
    display: none;
  }
}
@media (max-width: 350px) {
  .hidden-350 {
    display: none;
  }
}